header {
  background-color: red; }

.container-footer {
  background-color: yellow;
  margin-top: 225px;
  padding-right: 200px; 
 
}

  .h1-index{color: yellow;
  	text-align: center;}

  	h3{text-align: center;}
 
 .container{argin-left: 100px;
 	justify-content: center;}
